/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 23 ene 2024, 20:44:04
    Author     : aguao
*/
.wrapper{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    h1{
        text-align: center;
    }
    .formWrapper{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        div{
            margin: 3% 0;
        }
        div:last-child{
            display:flex;
            justify-content: center;
            >input{
                margin: 0 2%;
            }
        }
    }
}

.tarjetaErrores{
    transition: 0.5s;
    background-color: #ff9999;
    width: 20%;
    position: absolute;
    top: 15em;
    left: 70%;
    padding: 10px;
    border-radius: 15px;
}

.correct{
    border-radius: 10px;
    position: absolute;
    top: 15em;
    left: 80%;
    width: 15%;
    background-color: #99ff99;
}