/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 23 nov 2023, 12:40:40
    Author     : aguao
*/

form {
    display:flex;
    flex-direction: column;
}
