body{
    background-color: blanchedalmond;
    font-size:large;
    font-family: monospace;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form1{
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(0,200,200),rgb(0,100,100));
    width: 80%;
    border: black solid;
    border-radius: 20px 0 20px 0;
    padding: 2vh 2vw 2vh 2vw;
}

#form2{
    color: white;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgb(0,100,100),rgb(0,200,200));
    width: 80%;
    border: black solid;
    border-radius: 20px 0 20px 0;
    padding: 2vh 2vw 2vh 2vw;
}

form > fieldset:first-child{
    width: 25%;
    border: none;
}
form > fieldset:nth-of-type(2){
    width: 25%;
    border: none;
}

legend {
    display:flex;
    flex-direction: row;
    align-items: center;
}

fieldset:first-child > legend {
    color:white;
    background-color: rgb(0,150,150);
    border-radius: 10px;
    width: 40%;
}

fieldset:nth-of-type(2) > legend {
    color:white;
    background-color: rgb(0,150,150);
    border-radius: 10px;
    width: 40%;
}

input:not(#inputDni){
    max-width: 80%;
    border-radius: 10px 0 10px 0;
    margin: 1vh 0 1vh 0;
}

#inputDni{
    border-radius: 10px 0 10px 0;
    margin: 1vh 0 1vh 0;
}

input ~ a{
    margin: 0 1vw 0 1vw;
}

#file-input{
    display:none;
}

label > img{
    width: 120%;
}

#imageUpload{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

#imageUpload > div:first-child{
    width: 80%;
}

#imageUpload > div:nth-of-type(2){
    width:20%; 
}

select{
    max-width: 40%;
    margin: 1vh 0 1vh 0;
}

.inputCheckBox{
    margin-left: 2vw;
}

h4{
    margin: 0;
}

form > div:last-child{
    display:flex;
    flex-flow: row;
}

.error{
    background-color: #ff9999;
    font-weight: 600;
}

.ventana {
    display:none;
}


.ventanaErrores {
    display:flex;
    flex-direction:column;
    border-radius: 20px;
    position: absolute;
    top: 1%;
    left: 2%;
    padding: 1%;
    background-color: #ffcccc;
}

#png {
    width: 20%;
    height: 20%;
    margin:0;
    filter: invert();
}

h3{
    margin: 0 2%;
}

h2{
    margin: 0;
}

#tarjetaUsuario{
    background-color: #ccffff;
    border-radius: 20px;
    width: 30%;
    padding:1%;
    font-weight: 600;
    margin-bottom: 3%;
}

#tarjetaFormacion{
    background-color: #ccffff;
    border-radius: 20px;
    width: 30%;
    padding:1%;
    font-weight: 600;
}

h2 ~ h3{
    margin-top: 2%;
}

ul{
    margin-left: 5%;
}

ul ~ p{
    margin-left: 2%;
}

fieldset ~ div{
    width: 20%;
    text-align: center;
}