body {
    background-color: antiquewhite;
    font-family: fantasy;
}
.matrix{
    display:grid;
    grid-template-columns: 110px 110px;
    column-gap: 10px;
    row-gap: 10px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    >.set{
        margin: 3% 0;
        border: 1px solid black;
        display:flex;
        flex-direction: row;
        width: 50%;
    }
}

.nonVisible{
    display: none;
}

.square {
    width: 100px;
    height: 100px;
    margin-right: 1%;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

.showSet{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 2vh;
}

.showSet ~ button {
    position: absolute;
    left: 49%;
}
